html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: #ddd;
    font-family: Courier New, Courier, monospace;
}
h2 {
    font-size: 24px;
	margin: 6px 12px;
}
#score {
	float:right;
}
#sprite {
    display:none;
}
#container {
    text-shadow: 0 1px #fff;
    width: 320px;
    margin: 0 auto;
    transform-origin: 50% 0;
}
#board {
    width: 320px;
	height: 320px;
}
.em {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 1;
    transition: opacity .4s, transform .4s cubic-bezier(0.795, 1.650, 0.620, 0.840);
}
.hide {
    opacity: 0;
    z-index: 0;
}

@media (min-width: 480px) and (min-height: 540px) {
	h2 {
	    font-size: 32px;
	    margin: 8px 16px;
	}
	#container {
        width: 480px;
	}
	#board {
	    width: 480px;
	    height: 480px;
	}
    .em {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 640px) and (min-height: 720px) {
	h2 {
	    font-size: 48px;
	    margin: 12px 24px;
	}
	#container {
        width: 640px;
    }
    #board {
        width: 640px;
        height: 640px;
    }
    .em {
        width: 64px;
        height: 64px;
    }
}