html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: #ddd;
    font-family: Courier New, Courier, monospace;
}
h2 {
	margin: 10px 0;
}
#score {
	float:right;
}
#container {
    text-shadow: 0 1px #fff;
    width: 320px;
    margin: 0 auto;
    transform-origin: 50% 0;
}
#board {
    width: 320px;
	height: 322px;
    background: url(back.png);
    background-position: 0px 1px;
}
.em {
	cursor: pointer;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 1;
    background: url(sprite.png);
    transition: opacity .3s, transform .3s cubic-bezier(0.795, 1.650, 0.620, 0.840);
}
.hide {
    opacity: 0;
    z-index: 0;
}
a.c0 { background-position: 0px 0px; }
a.c1 { background-position: -32px 0px; }
a.c2 { background-position: 0px -32px; }
a.c3 { background-position: -32px -32px; }

@media (min-width: 480px) and (min-height: 540px) {
    #container {
        transform: scale(1.5);
    }
}

@media (min-width: 640px) and (min-height: 720px) {
    #container {
        transform: scale(2);
    }
}